{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block title %}
        {% endblock %}


        <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/bootstrap.min.css">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

        {% block css-required %}
        {% endblock %}

        <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/style.css?v=0.2">
    </head>
    
    <!-- Main Body -->
    <body  id="page-top" class="index">
        <div style="min-height:10px;"></div>
        <!-- Top Nav -->
        <div class="container">
            <div class="row" style="min-height:400px">
                <div class="row">
                    <div class="col-md-2" id="">
                        <a href="{% url 'home' %}" class="brand"><h2>Docshare</h2></a>
                    </div>
                    <div class="col-md-8 search-bar-parent">
                        <form action="{% url 'searchFor' %}" autocomplete="off">
                            <input type="text" id="search-box" class="form-control" placeholder="Search" name="searchedfor">
                            <div id="suggesstion-box"></div>
                            <input type="hidden" name="path" value="{{ current_directory }}">
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="dropdown">
                            <button onclick="listOptions()" class="dropbtn">NEW</button>
                            <div id="myDropdown" class="dropdown-content">
                                <a href="#" id="create_folder" name="createFolder" onclick="create_folder()">Create Folder</a>
                                <a data-toggle="modal" data-target="#myModal">File Upload</a>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Upload File</h4>
                          </div>
                          <div class="modal-body">
                            <form method='post' action="{% url 'uploadFile' %}" enctype="multipart/form-data">{% csrf_token %}
                                <input type="hidden" name="current_link" id='upload_url' value=''>
                                <input type="file" name="file_upload">
                                <input type="hidden" name="path" value="{{ current_directory }}">
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Upload</button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-10">
                        {% block home-marquee %}
                            <!-- <h2> HOME-MARQUEE </h2> -->
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Footer -->
    </body>

    {% block url-required %}
    <script>
        var CREATE_FOLDER = '{% url "createFolder" %}';
        var LISTDIR = '{%url "listDir" %}';
        var DOWNLOAD = '{%url "downloadFile" %}';
        var AUTOCOMPLETE = '{% url "autoComplete" %}';
        var DELETE = '{% url "delete" %}';
    </script>
    {% endblock %}
    <script type="text/javascript" language="javascript" src="{% get_static_prefix %}js/jquery.min.js"></script>
    <script type="text/javascript" language="javascript" src="{% get_static_prefix %}jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script type="text/javascript" language="javascript" src="{% get_static_prefix %}js/jquery.contextmenu.js"></script>
    
    <script type="text/javascript" language="javascript" src="{% get_static_prefix %}js/bootstrap.min.js"></script>
    
    {% block js-required %}
    {% endblock %}
    
</html>